<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.5.2" targetFramework="net452" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net461" />
  <package id="NServiceBus" version="5.2.14" targetFramework="net461" />
  <package id="NUnit" version="3.2.0" targetFramework="net452" />
</packages>