<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="NEventStore.Persistence.RavenDB" version="5.0.0.86" targetFramework="net45" />
  <package id="NServiceBus" version="5.1.2" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2666" targetFramework="net45" />
</packages>