<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="4.0.0" targetFramework="net462" />
  <package id="Metrics.NET" version="0.4.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="NServiceBus" version="6.2.1" targetFramework="net461" />
</packages>