<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.9.2" targetFramework="net461" />
  <package id="Metrics.NET" version="0.3.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NServiceBus" version="6.0.0" targetFramework="net461" />
</packages>