<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.3.1" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NServiceBus" version="5.2.8" targetFramework="net45" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.1" targetFramework="net45" />
</packages>