<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.4.0" targetFramework="net461" />
  <package id="Metrics.NET" version="0.3.3-pre" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="NServiceBus" version="5.2.14" targetFramework="net461" />
</packages>