<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="EventStore.Client" version="3.9.0" targetFramework="net461" />
  <package id="Moq" version="4.5.22" targetFramework="net461" />
  <package id="NServiceBus" version="6.0.0-rc0003" targetFramework="net461" />
  <package id="NUnit" version="3.4.1" targetFramework="net461" />
</packages>